.modalContent {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

.header {
  margin-bottom: 20px;
}

.closeButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #545a5f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.customOverlay {
  background-color: rgba(0, 0, 0, 0.75);
}
