.row {
  display: flex;
  align-items: stretch; /* Ensure rows stretch to full height */
  border-bottom: 1px solid #ccc;
  cursor: pointer; /* Indicate that the row is clickable */
  transition: background-color 0.3s; /* Smooth transition for the hover effect */
  min-height: 50px; /* Set a consistent minimum height for rows */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}


.cell {
  flex: 1;
  padding: 10px;
  text-align: left;
  overflow: hidden;
  display: flex; /* Use flex display */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  margin: 0; /* Reset margin */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  background-color: inherit; /* Inherit background color */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
