/* ItemRow.module.css */
.row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  cursor: pointer; /* Indicate that the row is clickable */
  transition: background-color 0.3s; /* Smooth transition for the hover effect */
}

.row:hover {
  background-color: #f1f1f1; /* Change background color on hover */
  font-weight: 700;
}

.cell {
  flex: 1;
  padding: 0 10px;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* mask-image: linear-gradient(180deg, #000 60%, transparent); */
}
