/* ItemModal.module.css */
.modalContent {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

.header {
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between; /* Ensure buttons are on opposite ends */
  margin-top: 20px;
}

.closeButton {
  padding: 10px 20px;
  background-color: #545a5f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton {
  padding: 10px 20px;
  background-color: #ff4136; /* Red color for delete button */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
