/* src/styles/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #282c34;
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Position it at the top */
  width: 100%; /* Make it span the full width */
  z-index: 1000; /* Ensure it stays above other elements */
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

.userEmail {
  color: white;
  margin-left: 20px;
  font-size: 18px;
}

.button {
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: white;
}
